{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>What would you like your case to say now?</h2>
    <form action="" method="POST">
        {{ update_form.hidden_tag() }}
        <div class="form-group">
            <fieldset>
                {{ update_form.caseNum.label }}
                {{ update_form.caseNum(class="form-control", placeholder="Update Title") }}
            </fieldset>
            <fieldset>
                {{ update_form.caseNotes.label }}
                {{ update_form.caseNotes(class="form-control", placeholder="Update Content", value="{{ case.content }}") }}
            </fieldset>
            <fieldset>
                {{ update_form.submit(class="btn btn-primary") }}
            </fieldset>
        </div>
    </form>
</div>

{% endblock content %}