<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/contact_styles.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
        </style>


        <title>CONTACT US | NZA LAW</title>
    </head>
    <body>
        <div class="page">
            <div class="blank1"></div>
            <div class="center">
                {% include 'nav.html' %}
                <div class="content">
                    <div class="sidebar">

                    


                    </div>
               
                    <section id="showcase">
                        <div class="container">
                         <h1>Contact Us</h1>
                           <p>Neilsen, Zehe & Antas, PC is a boutique law firm, yet one with capabilities of a larger firm. Across all of NZA's practice groups, we have maintained the focus of attaining the very best outcomes for our clients since 1997. Our experience and accomplishments have proven to our clients that when it comes to litigation and trial experience, our attorneys' skills are second to none.</p>
                        </div>
                    </section>    


                     <section id="item">
                         <div class="container">
                            <div class="row">
                                <div class="column">
                              <img src="../static/images/icon-mail.png">
                               <h2>Email</h2>
                               <h3>Drop us a note, and we’ll get back to you right away.</h3>
                               <a class="ghost-button" href="info@nzalaw.com" style= "float:center">info@nzalaw.com</a>

                            </div>
                         <div class="container">
                             <div class="row">
                                <div class="column left">
                               <img src="../static/images/icon-phone.png">
                               <h2>Phone</h2>
                               <h3>Give us a call, we’re open 8 to 5 CST Monday through Friday.</h4>
                                <a class="ghost-button" href="312-322-9900" style= "float:center">312-322-9900</a>

                            </div>
                         <div class="container">
                             <div class="row">
                                <div class="column right">
                                <img src="../static/images/icon-location.png">
                                <h2>Location</h2>
                               <h3>Nielsen, Zehe & Antas, P.C.
                                55 West Monroe Street, Suite 1800
                                Chicago, Illinois 60603</h3>
                                <a class="ghost-button" href="https://www.google.com/maps/place/Nielsen+Zehe+%26+Antas/@41.8802077,-87.6300899,18.5z/data=!4m5!3m4!1s0x880e2cbb60ac9543:0x5a73d25a3f7faff7!8m2!3d41.8803824!4d-87.629808?shorturl=1" style= "float:center">Get Directions</a>

                            </div>
                    
                            <div class="map">
                                <img src="../static/images/mapchi.png" width=720>

                            </div>
                        </section> 

                    

                      
                </div>
                <footer>
                    {% include 'nav_footer.html' %}
                </footer>
            </div>
            <div class="blank2"></div>
        </div>
    </body>
</html>