<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/index_styles.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
        </style>


        <title>NZA-Nielsen,Zehe & Antas, P.C.</title>
    </head>
    <body> 
        <div class="page">
            <div class="blank1"></div>
            <div class="center">
                {% include 'nav.html' %}
               
                
                <!-- <header>
                    <div class="logo">
                        <a href="index.html">
                            <img alt="NZA Law Website" src="../static/images/logo-invert.png" height="100%">
                        </a>
                    </div>
                    <nav class="navbar">
                        <ul>
                            <li><a href="index.html">home</a></li> -->
                            <!-- <li><a href="who.html">Who we are </a></li>
                            <li><a href="what.html">what we do</a></li>
                            <li><a href="https://www.theonion.com/">news & events</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Carmen_Sandiego">where we work</a></li>
                            <li><a href="contact.html">contact us</a></li>
                          </ul>
                    </nav>   
                </header> -->
                
                <div class="content">
                    <div class="content-text">
                        <div class="content-image">
                            <img src="../static/images/nza_index_mockup_take_2 (2).PNG" alt="Forward Thinking - a guarantee of NZA Law" id="content-image-fwd-thinking">
                        </div>
                        <div class="content-welcome">
                            <p class="content-text-welcome-header">Welcome to our website!</p>
                            <p class="content-text-welcome-para">Nielsen, Zehe & Antas, PC is a nationally recognized and respected law firm that offers its clients big firm experience and talent in a smaller firm environment. Our reputation is very important to us. We solve our clients problems in some situations and prevent them all together in other situations. We welcome you to our website to learn more about us.</p>
                              
                        </div>
                    </div>    
                    <div class="sidebar">
                        <div class="news-feed">
                            <h6 id="news-feed-header">News Feed</h6>
                            <hr id="news-feed-divider">
                            <p class="news-feed-content">In a 1983/Title IX claim brought against an Illinois school district and its administrators, Robert Lentz was able to obtain a Motion to Dismiss with prejudice from the Fed Dist Court of Illinois.</p>
                            <p class="news-feed-content">Nielsen, Zehe & Antas. P.C. is pleased to announce that Vaughn A. Drozd has joined the Firm as Associate Attorney.</p>
                            <p class="news-feed-content">In shocking news, the firm's top attorney, Brian Stanton, was put on leave after it came out that he is a fan of the mediocre club known as Manchester City. The firm has no comments at this time.</p>
                            <p class="news-feed-content">The firm is sad to announce the retirement of Joel Carter, one of the firm's best senior associates, after he won the Illinois Lottery. Mr. Carter has decided to spend his days trying to get his three year old to develop a consistent nap time. The firm wishes him well in this arduous venture.</p>
                        </div>
                        <div class="contact-info">
                            <p id="contact-info-name">Nielsen, Zehe & Antas, P.C.</p>
                            <p class="contact-info-details">55 West Monroe Street, Suite 1800</p>
                            <p class="contact-info-details">Chicago, Illinois 60603</p>
                            <p class="contact-info-details">312-322-9900 phone</p>
                            <p class="contact-info-details">312-322-9977 fax</p>
                            <p class="contact-info-details"><a id="contact-info-email" href="mailto:dummy.email@fakewebsite.com">ENielsen@nzalaw.com</a></p>
                        </div>
                    </div>
                </div>
                <footer>
                    {% include 'nav_footer.html' %}
                </footer>
            </div>
            <div class="blank2"></div>
        </div>
    </body>
</html>