<header>
    <div class="logo">
        <a href="index.html">
            <img alt="NZA Law Website" src="../static/images/logo-invert.png" height="100%">
        </a>
    </div>
    <nav class="navbar">
        
<!-- <li><a href="index.html">home</a></li> -->
          <ul>
            <li><a href="who.html">Who we are </a></li>
            <li><a href="what.html">what we do</a></li>
            <li><a href="https://www.theonion.com/">news & events</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Carmen_Sandiego">where we work</a></li>
            <li><a href="contact.html">contact us</a></li>
          </ul>
    </nav>   
</header>