<div class="links">
    <nav>
        <ul>
            <li><a href="index.html">home -</a></li>
            <li><a href="who.html">Who we are -</a></li>
            <li><a href="what.html">what we do -</a></li>
            <li><a href="https://www.theonion.com/">news & events -</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Carmen_Sandiego">where we work -</a></li>
            <li><a href="contact.html">contact</a></li>
          </ul>
    </nav>
</div>
<div class="copyright">
    <h4>&copy;2009 Neilsen, Zehe & Antas, P.C. // Website Design by Team JLMS</h4>
</div>