<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/what_styles.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
        </style>


        <title>NZA-What We Do</title>
    </head>
    <body>
        <div class="page">
            <div class="blank1"></div>
            <div class="center">
                {% include 'nav.html' %}
                <div class="sidebar">
                    <div class="sidebar-topper">
                        <h3>WHAT WE DO</h3>
                        <hr>
                    </div>
                    <div class="sidebar-list">
                        <ul class="list-of-action">
                            <li class="action-list"> <a href="https://en.wikipedia.org/wiki/Special:Random">subrogation</a>
                                <div class="sub-list">
                                    <ul class="sub-items">
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">property</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">workers compensation</a></li>
                                    </ul>
                                </div>
                            </li> 
                            <li class="action-list"><a href="https://en.wikipedia.org/wiki/Special:Random">litigation</a>
                                <div class="sub-list">
                                    <ul class="sub-items">
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">apellate</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">commercial</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">defense</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">Labour/employment</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="action-list"><a href="https://en.wikipedia.org/wiki/Special:Random">business</a>
                                <div class="sub-list">
                                    <ul class="sub-items">
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">brokerage agreement</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">business formation</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">business rental contracts</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Special:Random">Labour/employment</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="action-list"><a href="https://en.wikipedia.org/wiki/Special:Random">Transportation</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-attny">
                        <div>
                            <a href="https://nzalaw.com/meet-us/"> <img alt="attorneys" src="../static/css/images/content-link-attorneys.jpg" alt="attorneys page"></a>

                        </div>
                        <div>
                            <h5>Attorneys</h5>
                            <h6>Meet our prestigious partners and esteemed associates. </h6>
                        </div>
                    </div>
                </div>
                <div class="content-text">
                    <div class="text">
                        <p>What we do at Nielsen Zehe & Antas PC is prevent our client’s problems in some cases, solve their problems in other cases, and ultimately, if the problems cannot be prevented or solved, prepare to take the problems to trial and WIN. Our attorneys, who view themselves as problem solvers, have tried more cases to a jury or judge than most law firms collectively. Whether the problem is a lawsuit, business deal, or formation of a new business, we have the skill, experience, and business acumen to help our clients. </p>
                    </div>
                    <div class="photo-wrap">
                        <div class="wrap-photo photo-1">
                            <a href="https://en.wikipedia.org/wiki/Special:Random"><img src="../static/css/images/sub-02-subrogation.jpg" alt="subrogation"></a>
                        </div>
                        <div class="wrap-photo photo-2">
                            <a href="https://en.wikipedia.org/wiki/Special:Random"><img src="../static/css/images/sub-02-litigation.jpg" alt="litigation"></a>
                        </div>
                        <div class="wrap-photo photo-3">
                            <a href="https://en.wikipedia.org/wiki/Special:Random"><img src="../static/css/images/sub-02-business.jpg" alt="business"></a>
                        </div>
                        <div class="wrap-photo photo-4">
                            <a href="https://en.wikipedia.org/wiki/Special:Random"><img src="../static/css/images/sub-02-warehouse.jpg" alt="Transportation"></a>
                        </div>
                    </div>
                </div>    
                <div class="links">
                    <nav>
                        <ul>
                            <!-- <li><a href="index.html">home -</a></li>
                            <li><a href="who.html">Who we are -</a></li>
                            <li><a href="what.html">what we do -</a></li>
                            <li><a href="new.html">news & events -</a></li>
                            <li><a href="where.html">where we work -</a></li>
                            <li><a href="contact.html">contact</a></li> -->
                            {% include 'nav_footer.html' %}
                        </ul>
                    </nav>
                </div>
                <div class="copyright">
                    <h4>&copy;<a href="https://nzalaw.com/">2009 Neilsen, Zehe & Antas, P.C.</a> // <a href="https://github.com/ArchDiver/law-website-teamJLMS">Website Design by Team JLMS</a></h4>
                </div>                
            </div>
            <div class="blank2"></div>
        </div>
    </body>
</html>